@using MatriculasPrefeitura.DAL

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        @Html.ActionLink("Prefeitura", "Index", "Home", null, new { @class = "navbar-brand" })
        <ul class="navbar-nav ml-auto">
            @if (!Request.IsAuthenticated)
            {
                <li class="nav-item active" style="margin-left:10px">
                    @Html.ActionLink("Login", "Login", "Usuarios", null, new { @class = "nav-link" })
                </li>
            }
            else
            {
                <li class="nav-item active" style="margin-left:10px">
                    @Html.ActionLink("Logout", "Logout", "Usuarios", null, new { @class = "nav-link" })
                </li>
            }

        </ul>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desenvolvido Por Anna Nester e Mirella Lima</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>