@{
    @model MatriculasPrefeitura.Models.Curso
}

<div>

    @using (Html.BeginForm("CadastrarCurso", "Curso", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
    <fieldset>
        <legend>Cadastrar Curso</legend>
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomeCurso, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.NomeCurso, new { @class = "form-control", @placeholder = "Nome do curso" })<br>
                @Html.ValidationMessageFor(model => model.NomeCurso, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Professor, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.DropDownList("Professores", null, " -- SELECIONE -- ", new { @class = "form-control" })<br>
                @Html.ValidationMessageFor(model => model.Professor, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.EditorFor(model => model.DataInicio, new { @class = "form-control", @placeholder = "Nome do curso" })<br>
                @Html.ValidationMessageFor(model => model.DataInicio, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoCurso, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.DescricaoCurso, new { @class = "form-control", @placeholder = "Descrição do curso" })<br>
                @Html.ValidationMessageFor(model => model.DescricaoCurso, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DuracaoCurso, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.DuracaoCurso, new { @class = "form-control", @placeholder = "Duração do curso" })<br>
                @Html.ValidationMessageFor(model => model.DuracaoCurso, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.DropDownList("Categorias", null, " -- SELECIONE -- ", new { @class = "form-control" })<br>
                @Html.ValidationMessageFor(model => model.Categoria, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QtdeVagas, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.QtdeVagas, new { @class = "form-control", @placeholder = "Quantidade de vagas do curso" })<br>
                @Html.ValidationMessageFor(model => model.QtdeVagas, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Imagem do curso", new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                <input type="file" name="fupImagem" class="form-control-file" />
            </div>
        </div>
        <br />
        <legend>Endereço do Curso</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.LocalCurso.CEP, new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.LocalCurso.CEP, new { @class = "form-control", @placeholder = "CEP do curso" })<br>
                @Html.ValidationMessageFor(model => model.LocalCurso.CEP, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-primary" formaction="PesquisarCep" formmethod="post" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocalCurso.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocalCurso.Logradouro, new { @class = "form-control", @placeholder = "Endereço do curso", @readonly = "" })
                @Html.ValidationMessageFor(model => model.LocalCurso.Logradouro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocalCurso.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocalCurso.Bairro, new { @class = "form-control", @placeholder = "Bairro do curso", @readonly = "" })
                @Html.ValidationMessageFor(model => model.LocalCurso.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocalCurso.Localidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocalCurso.Localidade, new { @class = "form-control", @placeholder = "Cidade do curso", @readonly = "" })
                @Html.ValidationMessageFor(model => model.LocalCurso.Localidade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocalCurso.UF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocalCurso.UF, new { @class = "form-control", @placeholder = "Estado do curso", @readonly = "" })
                @Html.ValidationMessageFor(model => model.LocalCurso.UF, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
    }
</div>