@using MatriculasPrefeitura.Models
@model List<Curso>

@{
    DateTime data = ViewBag.Data;
}

<div>
    <h2>Gerenciamento de Cursos</h2>

    
     @Html.ActionLink("Cadastrar Novo Curso", "CadastrarCurso", "Curso", null, new { @class = "nav-link" })
        

    <table class="table table-hover table-striped" style="margin-top:30px">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Duração</th>
            <th>Local</th>
            <th>Professor</th>
            <th>Vagas</th>
            <th>Data Início</th>
            <th>Alterar</th>
            <th>Remover</th>
        </tr>
        @foreach (var curso in Model)
        {
        <tr>
            <td>@curso.NomeCurso</td>
            <td>@curso.CategoriaCurso.NomeCategoria</td>
            <td>@curso.DuracaoCurso</td>
            <td>@curso.LocalCurso</td>
            <td>@curso.ProfessorCurso</td>
            <td>@curso.QtdeVagas</td>
            <td>@curso.DataInicio</td>
            <td>@Html.ActionLink("Alterar", "EditarCurso", "Curso", new { id = curso.CursoId }, new { @class = "btn btn-info" })</td>
            <td>@Html.ActionLink("Remover", "RemoverCurso", "Curso", new { id = curso.CursoId }, new { @class = "btn btn-danger" })</td>
        </tr>
        }
    </table>
</div>


