@model MatriculasPrefeitura.Models.Curso

@{
    ViewBag.Title = "CursoDetalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CursoDetalhe</h2>

<table style="margin-left: 30px">
    <tr>
        <td colspan="2">
            <h4>@Model.NomeCurso</h4>
        </td>
    </tr>
    <tr>
        <td style="width:400px">
            <img src="~/Images/@Model.FotoCurso"
                 class="img-thumbnail" />
        </td>
        <td style="vertical-align: top; padding-left: 30px">
            <b>Descrição: </b>
            <br />
            @Model.DescricaoCurso<br />
            <b>Categoria: </b>@Model.Categoria.NomeCategoria<br />
            <b>Quantidade de Vagas: </b>@Model.QtdeVagas<br />
            <b>Localização do Curso: </b><br />
            <b>@Model.Logradouro</b><br />
            <b>Número: @Model.Numero</b><br />
            <b>Bairro: @Model.Bairro</b><br />
            <b>Cidade: @Model.Localidade</b><br />
            <b>CEP: @Model.CEP</b><br />
            <b>UF: @Model.UF</b><br />
            @Html.ActionLink("Realizar Matrícula", "Index", "Matricula", null, new { @class = "btn btn-info" })
        </td>
        <td>
            @*<b>Professor: </b> @Model.Professor.NomeProfessor <br />
                <b>Formação: </b> @Model.Professor.FormacaoProfessor <br />*@
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; padding-left: 30px">
            <br />
            <br />
            @* Passando as informações de endereço para a function codeAddress() no Layout para gerar o mapa com o marcador *@
            <input id="address" type="hidden" value="@Model.Logradouro +  @Model.Numero + @Model.Bairro + @Model.Localidade + @Model.CEP + @Model.UF">
            <div align="center">
                <div id="map-canvas" style="height:400px;width:100%;">
                </div>
            </div>
        </td>
    </tr>
</table>
