@using MatriculasPrefeitura.Models
@model Professor

<div>
    @using (Html.BeginForm("EditarProfessor", "Professor", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Alterar Produto</legend>
            @Html.ValidationSummary(true, null,
                new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NumProfessor)

            <div class="form-group">
                @Html.Label("Nome do professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.NomeProfessor,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Nome do professor"
                        })
                    @Html.ValidationMessageFor(model => model.NomeProfessor, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CPF do Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.CPFProfessor,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "CPF do Professor"
                        })
                    @Html.ValidationMessageFor(model => model.CPFProfessor, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Formação do Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.FormacaoProfessor,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Formação do Professor"
                        })
                    @Html.ValidationMessageFor(model => model.FormacaoProfessor, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CEP Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.CEP,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "CEP Professor"
                        })
                    @Html.ValidationMessageFor(model => model.CEP, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Logradouro Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Logradouro,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Logradouro Professor"
                        })
                    @Html.ValidationMessageFor(model => model.Logradouro, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Número Residência",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Numero,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Número Residência"
                        })
                    @Html.ValidationMessageFor(model => model.Numero, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Bairro do Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Bairro,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Bairro do Professor"
                        })
                    @Html.ValidationMessageFor(model => model.Bairro, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Cidade do Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Localidade,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Cidade do Professor"
                        })
                    @Html.ValidationMessageFor(model => model.Localidade, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Estado do Professor",
                    new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.UF,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Estado do Professor"
                        })
                    @Html.ValidationMessageFor(model => model.UF, null,
                        new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Salvar"
                           class="btn btn-primary">
                </div>
            </div>
        </fieldset>
    }
</div>
